.post{
    display: flex;
    justify-content: center;
}
.postCard{
    width: 30%;
    margin-bottom: 5%;
    padding: 3%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   border: 2px solid rgba(128, 128, 128, 0.569);
   border-radius: 5%;
   background-color: rgb(179, 205, 192);

}
.postTitle{
 font-size: larger;
    font-weight: bolder;
}
.postBody{
    border: 1px solid black;
    border-radius: 2%;
    padding: 2%;
    background-color: blanchedalmond;
}
.loadBtn{
    text-decoration: none;
    color: black;
    background-color: rgb(79, 128, 163);

}
/* table,tr,td,th{
    border: 2px solid black;
    margin: 5% auto;
    padding: 5px 5px;
}
th{
    background-color: rgb(109, 160, 180);
}
td{
    background-color: bisque;
} */
.button{
    display: flex;
    justify-content: center;

}
.crtBtn{
    
        background-color: rgb(79, 128, 163);
        border-radius: 30px;
        border: none;
        color: black;
        padding: 15px 32px;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-weight: bolder;
      
}